@import "variables";

@media screen and (min-width: 768px) {
  .adminbar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: #eeeeee;
    border-right: #9c9c9c solid 2px;
    border-top: #9c9c9c solid 2px;
    border-bottom: #9c9c9c solid 2px;
    padding-left: 0;
    border-radius: 0 20px 20px 0;

    li {
      list-style: none;
      margin: 10px;
      padding-left: 5px;
      padding-right: 5px;
      a {
        color: #484848;
        text-decoration: none;
        font-size: 2.5rem;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .adminbar {
    position: fixed;
    bottom: 0;
    margin-left: 0;
    padding-left: 0;
    left: 50%;
    transform: translateX(-50%);
    li {
      display: inline;
      list-style: none;
      padding-left: 20px;
      font-size: 3.2rem;
      a {
        color: #484848;
        text-decoration: none;
      }
    }
  }
  html {
    margin-bottom: $footer-height + 50px;
  }
}